@media screen and (min-width: 480px) {
    .container {
        width: 428px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) { /*-----768-----*/
    .container{
        width: 768px;
    }
/*-------------------------HEADER--------------------------*/
    .logo{
        margin-right: 120px;
    }
.header-menu{
        display: flex;
        position: relative;
        align-items: center;
        gap: 40px;
    }
    .header {
        padding-top: 0;
        padding-bottom: 0;
        }
        .nav_header{
        display: flex;
        align-items: center;
        }
    .link-menu {
        color: var(--grey-color);
        display: inline-block;
        padding-top: 26px;
        padding-bottom: 26px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color var(--cubic);
        }
        .link-presence::after {
        content: '';
        display: block;
        position: relative;
        top: 28px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--ocean-color);
        }
        .link-menu:hover,
        .link-menu:focus {
            color: var(--ocean-color);
        }
    
        .link-menu-active {
            color: var(--ocean-color);
        }
    .mobile-menu-open{
        display: none;
    }
    .mobile-menu {
        display: none;
    }

    .adress-menu{
        display: block;
    }
    .adress-list:not(:last-child){
        margin-bottom: 12px;
    }
    .adress-link {
        color: var(--slate-color);
        font-size: 16px;
        line-height: 1.5;
        text-decoration: none;
        letter-spacing: 0.02em;
        transition: color var(--cubic);
    }

/*-------------------------CAPTION--------------------------*/

    .caption-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
}
    .list-caption {
        flex-basis: calc((100% - 1 * 24px) / 2);
}
    .section-subtitle{
        text-align: start;
}
/*------------------------LIST_TEAMS-------------------------*/
    .team-items{
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
}
/*-----------------------SECTION-CUSTOMERS---------------------*/
    .customers-logo-box{
        column-gap: 24px;
        row-gap: 72px;
}
    .customers-block{
        flex-basis: calc((100% - 3 * 24px) / 4);
        width: 168px;
}
/*-----------------------FOOTER---------------------*/
.footer > .footer-container {
    padding-left: 108px;
    padding-right: 108px;
}

.footer-container{
    flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        align-items: flex-start;
}
.footer-text-logo {
    align-items: flex-start;
}
.footer-logo-group{
    align-items: flex-start;
}
.footer-form-container {
    align-items: flex-start;
    width: auto;
    max-width: none;
}
.footer-form {
    flex-direction: row;
}
.footer-form-input{
    width: 264px;
}
}

@media screen and (min-width: 1200px) {   /*-----1200---------*/
    .container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
}
/*-------------------------HEADER--------------------------*/
.adress-menu {
    display: flex;
    margin: 0 auto;
    gap: 40px;
}


/*----------------------------CAPTION--------------------------*/
    .caption-list{
        gap: 24px;
}
    .list-caption {
        width: calc((100% - 3 * 24px) / 4);
}
    .advantages {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        border-radius: 4px;
        background-color: var(--cloud-color);
    }
    .caption-list {
        flex-wrap: nowrap;
    }
    .section-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        margin-top: 8px;
        color: var(--grey-color);
    }
    .text-suptitle {
        font-weight: 400;
    }
/*-------------------------MENU--------------------------*/
    .menu {
        display: block;
        padding-bottom: 120px;
}

/*-------------------------LIST_TEAMS-------------------------*/
    .list-teams{
        padding-top: 120px;
        padding-bottom: 120px;
}
    .list-teams>.container{
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .team-desc {
        flex-basis: calc((100% - 3 * 24px) / 4);
}
    .team-items {
        flex-wrap: wrap;
        column-gap: 24px;
    }
/*-------------------------SECTION-CUSTOMERS------------------------*/
    .section-customers{
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .customers-logo-box {
        gap: 24px;
    }
        .customers-block {
        flex-basis: calc((100% - 5 * 24px) / 6);
    }
        /*-----------------------FOOTER---------------------*/
    .footer{
        padding-top: 100px;
        padding-bottom: 100px;
    }
        .footer > .container {
        padding-left: 0px;
        padding-right: 0px;
        }
        .footer-container {
            margin-right: auto;
                margin-left: auto;
                flex-wrap: nowrap;
                gap: 0;
                align-items: center;
        }
        .footer-text-logo{
            margin-right: 120px;
        }
        .footer-logo-group {
            margin-right: 80px;
        }
}