:root {
    --iris-color: #4D5AE5;
    --ocean-color: #404BBF;
    --navy-blue-color: #2E2F42;
    --slate-color: #434455;
    --light-slate-color: #8E8F99;
    --cornflower-color: #E7E9FC;
    --cloud-color: #F4F4FD;
    --grey-color: #2E2F42;
    --white-color: #ffffff;
    --green: #31D0AA;
    --dairy: #FCFCFC;
    --cornflower: #E7E9FC;
    --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --gradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
}

@media screen and (min-width: 480px) {
    .container {
        width: 428px;
        margin-left: auto;
        margin-right: auto;
    }
    .team-item-img {
            width: auto;
            height: auto;
        }
}

@media screen and (max-width: 480px){
     .container{
       max-width: 428px;
       margin-right: auto;
       margin-left: auto;
    }

}


@media screen and (min-width: 768px) { /*-----768-----*/
    .container{
        width: 768px;
    }
/*-------------------------HEADER--------------------------*/
    .logo{
        margin-right: 120px;
    }
.header-menu{
        display: flex;
        position: relative;
        align-items: center;
        gap: 40px;
    }
    .header {
        padding-top: 0;
        padding-bottom: 0;
        }
        .nav_header{
        display: flex;
        align-items: center;
        }
    .link-menu {
        color: var(--grey-color);
        display: inline-block;
        padding-top: 26px;
        padding-bottom: 26px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color var(--cubic);
        }
        .link-presence::after {
        content: '';
        display: block;
        position: relative;
        top: 27px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--ocean-color);
        }
        .link-menu:hover,
        .link-menu:focus {
            color: var(--ocean-color);
        }
    
        .link-menu-active {
            color: var(--ocean-color);
        }
    .mobile-menu-open{
        display: none;
    }
    .mobile-menu {
        display: none;
    }

    .adress-menu{
        display: block;
    }

    /*.adress-list:not(:last-child){
       margin-bottom: 12px;
    }*/

    .adress-link {
       color: var(--slate-color);
       font-size: 12px;
       line-height: 1.5;
       text-decoration: none;
       letter-spacing: 0.02em;
       transition: color var(--cubic);
    }
        .adress-link:hover,
        .adress-link:focus {
            color: var(--ocean-color);
        }


/*-------------------------PAGE--------------------------*/

.page{
    max-width: 768px;
    background-image: var(--gradient),
    url(../images/Dark-bg-tab-min.jpg);
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .page {
        background-image: var(--gradient),
        url('../images/Dark-bg-tab2x-min.jpg');
    }
}

.title {
    font-size: 56px;
    margin-bottom: 36px;
    max-width: 496px;
    text-transform: none;
}

/*-------------------------CAPTION--------------------------*/

    .caption-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
}
    .list-caption {
        flex-basis: calc((100% - 1 * 24px) / 2);
}
    .section-subtitle{
       text-align: start;
    }

/*------------------------------LIST_TEAMS---------------------------------*/
    
    .team-items {
      justify-content: center;
       flex-direction: row;
       flex-wrap: wrap;
       column-gap: 24px;
       row-gap: 64px;
    }

/*------------------------SECTION-CUSTOMERS-------------------------------*/
    
    .customers-logo-box {
       column-gap: 24px;
       row-gap: 72px;
    }

    .customers-block {
       width: 168px;
    }

       .customers-box{
       flex-basis: calc((100% - 4 * 108px) / 3);
      }

/*-------------------------------FOOTER-----------------------------------*/
    
    .footer > .footer-container {
       padding-left: 108px;
       padding-right: 108px;
    }

.footer-container{
    flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        align-items: flex-start;
}
.footer-text-logo {
    align-items: flex-start;
}
.footer-logo-group{
    align-items: flex-start;
}
.footer-form-container {
    align-items: flex-start;
    width: auto;
    max-width: none;
}
.footer-form {
    flex-direction: row;
}
.footer-form-input{
    width: 264px;
}
}

@media screen and (min-width: 1200px) {   /*-----1200---------*/
    .container {
       width: 1158px;
    }

/*-------------------------------HEADER------------------------------------*/

    .adress-menu {
       display: flex;
       margin: 0 auto;
       gap: 40px;
    }

    .adress:hover,
    .adress:focus {
       color: var(--ocean-color);
    }
       .adress-link{
        font-size: 16px;
      }

/*-------------------------PAGE--------------------------*/

.page {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: var(--gradient),
    url(../images/people-office\ 1-min.jpg);
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .page {
        background-image: var(--gradient),
        url('../images/people-office\ 2x-min.jpg');
    }
}

.title {
    font-size: 56px;
    margin-bottom: 48px;
    text-transform: none;
}


/*----------------------------CAPTION--------------------------*/
    .caption-list{
        gap: 24px;
}
    .list-caption {
        width: calc((100% - 3 * 24px) / 4);
}
    .advantages {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        border-radius: 4px;
        background-color: var(--cloud-color);
    }
    .caption-list {
        flex-wrap: nowrap;
    }
    .section-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        margin-top: 8px;
        color: var(--grey-color);
    }
    .text-suptitle {
        font-weight: 400;
    }
/*-------------------------MENU--------------------------*/
    .menu {
        display: block;
        padding-bottom: 120px;
    } 

/*-------------------------LIST_TEAMS-------------------------*/
    .list-teams{
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .list-teams>.container{
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .team-desc {
        flex-basis: calc((100% - 3 * 24px) / 4);
    }
    .team-items {
        flex-wrap: wrap;
        column-gap: 24px;
    }
/*-------------------------SECTION-CUSTOMERS------------------------*/
    .section-customers{
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .customers-box {
           flex-basis: calc((100% - 7 * 120px) / 2);
        }

    .customers-logo-box {
        gap: 24px;
    }
        .customers-block {
        flex-basis: calc((100% - 5 * 24px) / 6);
    }
        /*-----------------------FOOTER---------------------*/
    .footer{
        padding-top: 100px;
        padding-bottom: 100px;
    }
        .footer > .container {
        padding-left: 0px;
        padding-right: 0px;
        }

        .footer-text-logo{
            margin-right: 120px;
        }
        .footer-logo-group {
            margin-right: 80px;
        }
}

/*.footer {
   background: var(--grey-color);
   padding-top: 100px;
   padding-bottom: 100px;
}

.footer-container {
   display: flex;
}

.logo-footer {
   font-family: 'Raleway', sans-serif;
   color: var(--iris-color);
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   text-decoration: none;
}

.footer-text-logo {
   max-width: 264px;
}

.span_footer {
   color: var(--cloud-color);
}

.footer-text {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--cornflower-color);
   margin-top: 16px;
}



.footer-logo-group {
   margin-left: 120px;
}

.footer-social-text {
   font-weight: 500;
   color: var(--white-color);
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   margin-bottom: 16px;
}

.footer-logo-block {
   display: flex;
   gap: 16px;
   justify-content: center;
}

.footer-social-box {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: var(--slate-color);
   display: flex;
   align-items: center;
   justify-content: center;

   transition: background-color var(--cubic);
}

.footer-social-box:hover,
.footer-social-box:focus {
   background-color: var(--green);
}

.footer-soc-icon {
   fill: var(--cloud-color);
}

.container3 {
   margin-left: 80px;
}

.form-footer input {
   font-size: 12px;
   line-height: 1.33;
   letter-spacing: 0.04em;
   color: var(--white-color);
   border: 1px solid var(--white-color);
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   border-radius: 4px;
   padding: 0 16px 0 16px;
   height: 40px;
   width: 264px;
   background-color: transparent;
   outline: 0;
}

.subscibe-title {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   margin-bottom: 16px;
   color: var(--white-color);
}

.input-text::placeholder {
   font-size: 12px;
   line-height: 24px;
   color: var(--white-color);
}

.form-div {
   display: flex;
}

.btn-footer {
   display: flex;
   padding: 8px 24px;
   border-radius: 4px;
   border: 0;
   cursor: pointer;
   margin-left: 24px;
   background: var(--iris-color);
   transition: background-color var(--cubic);
}

.btn-footer:hover,
.btn-footer:focus {
   background-color: var(--ocean-color);
}

.btn-submit {
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   letter-spacing: 0.04em;
   font-size: 16px;
   line-height: 1.5;
   color: var(--white-color);
   margin-right: 16px;
   padding: 0;
   border: none;
}

.button-icon {
   display: inline-flex;
   align-items: center;
}