*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --iris-color: #4D5AE5;
    --ocean-color: #404BBF;
    --navy-blue-color: #2E2F42;
    --slate-color: #434455;
    --light-slate-color: #8E8F99;
    --cornflower-color: #E7E9FC;
    --cloud-color: #F4F4FD;
    --grey-color: #2E2F42;
    --white-color: #ffffff;
    --green: #31D0AA;
    --dairy: #FCFCFC;
    --cornflower: #E7E9FC;
    --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul{
    padding-left: 0;
    margin: 0;
}

address{
    font-style: normal;
}

button{
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    margin: 0;
}

img{
    display: block;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 428px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*-------------------------HEADER--------------------------*/

.header{
    padding-top: 24px;
    padding-bottom: 22px;
    border-bottom: 1px solid var(--cornflower-color);
}

.header-container{
    display: flex;
    align-items: center;
}

.header-menu{
    display: none;
}

.nav_header{
    margin-right: auto;
}

.logo{
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    color: var(--iris-color);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;          
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.span {
    color: var(--grey-color);
}

.adress-menu {
    display: none;
}
/*-------------------------MOBILE-MENU--------------------------*/

.mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}

.icon-burger{
    stroke: var(--grey-color);
}

.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--white-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

    transition: opacity var(--anim-dur-func), visibility var(--anim-dur-func);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mobile-menu.is-hidden .mobile-menu {
    box-shadow: none;
    transform: translate(-50%, 100%) scale(0);
}

.mobile-menu-container {
    position: relative;
    height: 100%;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
}

.mobile-thumb {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.close-mobile-button {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: var(--cornflower);
    border: 1px solid var(--grey-color);
    border-radius: 50%;
    transition: background-color var(--cubic), border var(--cubic);
}

.close-mobile-button:hover,
.close-mobile-button:focus {
    background-color: var(--ocean-color);
    border-color: transparent;
}

.close-mobile-button-icon {
    width: 8px;
    height: 8px;
    fill: var(--grey-color);
    transition: fill var(--cubic);
}

.close-mobile-button:hover .close-mobile-button-icon,
.close-mobile-button:focus .close-mobile-button-icon {
    fill: var(--white-color);
}

.mobile-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--grey-color);
    transition: color var(--cubic);
}

.mobile-nav-link:hover,
.mobile-nav-link:focus {
    color: var(--ocean-color);
}

.mobile-nav-item {
    margin-bottom: 40px;
}

.mobile-nav-link.current {
    color: var(--ocean-color);
}

.mobile-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-contacts-list-item-link {
    transition: color var(--cubic);
}

.mobile-contacts-list-item-link.tel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-style: normal;
    color: var(--slate-color);
}

.mobile-contacts-list-item-link.mail {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--slate-color);
}

.mobile-contacts-list-item-link:hover,
.mobile-contacts-list-item-link:focus {
    color: var(--iris-color);
}

.mobile-contacts {
    margin-bottom: 48px;
}

.mobile-soc-list {
    display: flex;
    gap: 56px;
    flex-wrap: wrap;
}

.mobile-soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--iris-color);
    transition: background-color var(--cubic);
}

.mobile-soc-link:hover,
.mobile-soc-link:focus {
    background-color: var(--ocean-color);
}

.mobile-soc-icon {
    width: 24px;
    height: 24px;
    fill: var(--cloud-color);
}

.menu {
    display: none;
}

.contacts {
    display: none;
}


/*-------------------------PAGE--------------------------*/

.page {
    background: var(--grey-color);
    background-image:linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-mob-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 112px;
    padding-bottom: 112px;
    text-align: center;
    max-width: 428px;
    margin: 0 auto;
    
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .page {
        background-image: url('../images/Dark-bg-mob2x-min.jpg');
    }
}

.title {
    max-width: 320px;
    margin-bottom: 72px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 700;
    color: var(--white-color);
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--iris-color);
    color: var(--white-color);
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    border: none;

    transition: background-color var(--cubic);
}

.button:hover,
.button:focus { 
    background-color: var(--ocean-color);
}

.img-items{
    display: flex;
    gap: 24px;
}

/*-------------------------CAPTION--------------------------*/

.caption{
    padding-top: 96px;
    padding-bottom: 96px;
}

.caption-list{
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.advantages {
    display: none;
}

.section-subtitle{
    margin-bottom: 8px;
    color: var(--grey-color);
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.text-suptitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-color);
}

/*-------------------------MENU--------------------------*/

.menu {
    display: none;
}

.menu-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--grey-color);
    margin-bottom: 72px;
}

/*-------------------------LIST-TEAMS--------------------------*/

.list-teams {
    background-color: var(--cloud-color);
    padding-top: 96px;
    padding-bottom: 96px;
}

.list-teams>.container {
    padding-left: 82px;
    padding-right: 82px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--grey-color);
    margin-bottom: 72px;
}

.team-items {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.team-desc {
    border-radius: 0 0 4px 4px;
}

.team-desc:hover .team-cover-text {
    transform: translateY(0);
}

.team-pl {
    padding: 32px 0;
    background: var(--white-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--grey-color);
    margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-color);
    margin-bottom: 8px;
}

.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-soc-item {
    width: 40px;
    height: 40px;
}

.team-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--iris-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--cubic);
}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: var(--ocean-color);
}

.team-soc-icon {
    fill: var(--cloud-color);
}

/*-------------------------SECTION-CUSTOMERS--------------------------*/

.section-customers {
    padding-top: 96px;
    padding-bottom: 96px;
}

.section-paddings > .container {
    padding-left: 16px;
    padding-right: 16px;
}

.customers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--grey-color);
    margin-bottom: 72px;
}

.customers-logo-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
    
}


.customers-block {
    display: flex;
    flex-basis:  calc((100% - 1 * 16px) / 2);
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 88px;
    fill: var(--light-slate-color);
    border: 1px solid var(--light-slate-color);
    border-radius: 4px;
    transition: 
    fill var(--cubic),
    border var(--cubic);
}

.customers-block:hover,
.customers-block:focus {
    fill: var(--ocean-color);
    border: 1px solid var(--ocean-color);
    border-radius: 4px;
}

/*-------------------------FOOTER--------------------------*/

.footer {
    background: var(--grey-color);
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-container{
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
}

.logo-footer{
    font-family: 'Raleway', sans-serif;
    color: var(--iris-color);
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-text-logo{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.span_footer {
    color: var(--cloud-color);
}

.footer-text {
    max-width: 268px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cornflower-color);
}

.footer-logo-group {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.footer-social-text {
    font-weight: 500;
    color: var(--white-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-logo-block {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.footer-social-box {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--iris-color);
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color var(--cubic);
}

.footer-social-box:hover,
.footer-social-box:focus{
    background-color: var(--green);
}

.footer-soc-icon {
    fill: var(--cloud-color);
}

.container-form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    max-width: 398px;
}

.footer-form-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    max-width: 398px;
}

.form-container-text {
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.footer-form-input {
    width: 100%;
    height: 40px;
    padding: 8px 16px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: #2e2f42;
    color: #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-form-input::placeholder {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.footer-form-submit-area {
    position: relative;
}


.footer-form-submite {
    padding: 8px 64px 8px 24px;
    border-color: transparent;
    border-radius: 4px;
    background-color: #4d5ae5;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color var(--cubic);
}

.footer-form-submit-icon {
    position: absolute;
    top: 50%;
    right: 24px;
    width: 24px;
    height: 24px;
    fill: #ffffff;
    transform: translateY(-50%);
}

.btn-footer:hover,
.btn-footer:focus {
    background-color: var(--ocean-color);
}

.btn-submit {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.04em;
    font-size: 16px;
    line-height: 1.5;
    color: var(--white-color);
    margin-right: 16px;
    padding: 0;
    border: none;
}

.button-icon {
    display: inline-flex;
    align-items: center;
}*/



/*-------------------------BACKDROP--------------------------*/

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2e2f4293;
    transition: opacity var(--cubic), visibility var(--cubic);
    opacity: 1;
}

.modal{
    width: 408px;
    background-color: var(--dairy);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 72px 24px 24px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--cubic);
}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0);
}

.modal-close{
    display: block;
    background-color: var(--cornflower);
    border-radius: 50%;
    border: 0;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 24px;
    top: 24px;
    transition: background-color var(--cubic);
}

.modal-close:hover,
.modal-close:focus {
    background-color: var(--ocean-color);
    border-color: transparent;
}

.modal-close:hover .modal-close-icon,
.modal-close:hover .modal-close-icon {
    fill: var(--white-color);
}

.modal-close-icon{
    fill: var(--navy-blue-color);
}

.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--grey-color);
    text-align: center;
    margin-bottom: 16px;
}

.modal-field{
    margin-bottom: 8px;
}

.input-wrap{
    position: relative;
}

.modal-input{
    width: 100%;
    height: 40px;
    padding: 11px 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--grey-color);
    outline: transparent;
    transition: border var(--cubic);
}

.modal-label-text{
    display: inline-block;
    font-size: 12px;
    margin-bottom: 5px;
    color: var(--light-slate-color);
    
}

.modal-input:focus {
    border-color: var(--ocean-color);
}



.modal-textarea{
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    background-color: transparent;
    resize: none;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.modal-textarea::placeholder{
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.04em;
}

.modal-textarea:focus {
    border-color: var(--ocean-color);
}

.modal-input-icon{
    position: absolute;
    top: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    transition: fill var(--cubic);
        ;
}

.modal-input:focus+.modal-input-icon {
    fill: var(--ocean-color);
}

.modal-check:checked + .check-text::before {
    border: none;
    background-image: url(../images/vector.svg);
    background-color: var(--ocean-color);
    background-repeat: no-repeat;
    background-position: center;
    padding: 4px 3px;
}

.check-text{
    display: flex;
    font-weight: 400;
    font-size: 12px;
    color: var(--light-slate-color);
    text-align: center;
    margin-bottom: 24px;
    margin-top: 16px;
}

.check-text::before {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: block;
    margin-right: 8px;
    transition: background-color var(--cubic);
}

.check-text-link{
    margin-left: 5px;
    color: var(--iris-color);
}

.modal-btn-send{
    display: block;
    width: 169px;
    height: 56px;
    margin: 0 auto;
    text-align: center;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    background-color: var(--iris-color);
    color: var(--white-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color var(--cubic);
    cursor: pointer;
}

.modal-btn-send:hover,
.modal-btm-send:focus {
    background-color: var(--ocean-color);
}



/*-------------------------SECTION-MAIN--------------------------*/

/*.section-main {
    padding-top: 96px;
    padding-bottom: 120px;
}

.button-items {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.button-menu {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris-color);
    cursor: pointer;
    background-color: #F4F4FD;
    border-radius: 4px;
    border: 1px solid var(--cornflower-color);
    padding: 12px 24px;

    transition:
        background-color var(--cubic),
        color var(--cubic),
        box-shadow var(--cubic),
        border-color var(--cubic);
}

.button-menu:hover,
.button-menu:focus {
    background-color: var(--ocean-color);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: var(--ocean-color);
}

.portfolio-items {
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
    margin-top: 72px;
}

.team-top-wrap {
    position: relative;
    overflow: hidden;
}

.team-cover-text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: var(--cloud-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background-color: var(--iris-color);
    transform: translateY(100%);
    transition: transform var(--cubic);
}

.team-cover {
    padding: 32px 16px;
    border: 1px solid var(--cornflower-color);
    border-top: none;
}



.project-card {
    text-decoration: none;
    transition: box-shadow var(--cubic);
}

.project-card:hover {
    display: block;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--grey-color);
    margin-bottom: 8px;
}

.potfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-color);
} */